<center><bold>WELCOME TO OMNISTORE</bold></center>
<center>Store: $poslog.storeId</center>
------------------------------------------
#foreach($item in $poslog.items)
$item.description
    $item.quantity x $item.price      $math.mul($item.quantity, $item.price)
#end
------------------------------------------
TOTAL: <double_width>$poslog.totalAmount</double_width>
------------------------------------------
<center><barcode>$poslog.transactionId</barcode></center>
<center>Thank you for shopping!</center>